.cardio_head > img {
    border-radius: 5px;
    max-width: 5%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.cardio_head > h1 {
    display: flex;
    margin-left: 90px;
    margin-top: -50px;
}

.cardio_head > h2 {
    margin-left: 5px;
}

.cardio_main {
    width: 150px;
    height: fit-content;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 130px;
    background: #ebeaea;
    margin-bottom: 20px;
    margin-left: 50px;
}

.cardio_main > img {
    border-radius: 50% 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    max-width: 100%;
    margin-right: 5px;
    margin-left: -80px;
}

.cardio_main > h2 {
    margin-left: 100px;
    margin-top: -130px;
}

.cardio_main > h3 {
    margin-left: 100px;
    margin-top: -20px;
}

.cardio_main .rating {
    margin-left: 100px;
}

.urgent {
    color: rgb(75, 135, 247);
    font-weight: bolder;
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}