.nav {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #011824;
    border: 1px solid lightgray;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav_logo {
    object-fit: contain;
    margin: 0 30px;
    margin-top: 2px;
    height: 140px;
}

.nav_search {
    background: #f1f3f4;
    width: 690px;
    height: 48px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
}

.nav_input {
    border: none;
    background: #f1f3f4;
    height: 90%;
    width: 95%;
    font-size: 1rem;
    margin-left: 10px;
}

.nav_search span {
    margin-left: 10px;
}

.nav_logo > span {
    padding: 1px;
    height: 60px !important;
    margin-left: 5px;
    color: #a6a6a6;
}

.nav_options {
    display: flex;
    justify-content: space-evenly;
}

.nav_option1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    color: #a6a6a6;
    margin-left: 50px;
}

.nav_option {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    color: #a6a6a6;
    margin-left: 50px;
    position: relative;
    text-decoration: none;
}

.nav_optionOne {
    font-size: 15px;
}

.nav_optionTwo {
    font-size: 13px;
    font-weight: 800;
}

.nav_optionOne {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 0.75rem;
    background-color: #323232;
    color: white;
    opacity: 0.78;
    padding: 5px;
    white-space: nowrap;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
}

.nav_option:hover .nav_optionOne {
    visibility: visible;
}
